{% extends 'base.html' %}

{% load static %}

{% block title %}About us{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-dark text-white" style="border-radius: 1rem;">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center mb-4">О нас</h1>
          <p>Добро пожаловать в наш магазин настольных игр, где приключения ожидают вас! Мы с большой страстью предлагаем радость настольного гейминга для любителей всех возрастов и уровней опыта.</p>
          <p>В нашем магазине вы найдете огромный выбор настольных игр, карточных игр, ролевых игр и множество других. Мы тщательно подбираем наш ассортимент, чтобы предложить разнообразие игр — от классических фаворитов до новейших релизов.</p>
          <p>Наши компетентные и дружелюбные сотрудники сами являются геймерами и всегда готовы помочь вам найти идеальную игру для вашего следующего сбора, будь то непринужденный игровой вечер с друзьями или эпическая кампания с единомышленниками.</p>
          <p>Мы верим, что настольный гейминг — это не просто хобби; это возможность для общения, создания воспоминаний и исследования новых миров. Именно поэтому мы создаем дружелюбное и инклюзивное сообщество, где каждый чувствует себя ценным и вдохновленным.</p>
          <p>Помимо обширного выбора игр, мы также регулярно организовываем мероприятия и турниры, предоставляя место для геймеров, чтобы собраться вместе, соревноваться и заводить новые дружеские связи. Проверьте наш календарь мероприятий, чтобы быть в курсе предстоящих встреч.</p>
          <p>Будь вы опытным геймером или новичком в мире настольных игр, мы приглашаем вас посетить наш магазин и отправиться в следующее игровое приключение. Присоединяйтесь к нам, чтобы отметить силу воображения, стратегии и дружбы, которые делают настольный гейминг по-настоящему особенным.</p>
          <p>Спасибо, что выбрали наш магазин в качестве партнера в бесконечных часах веселья, смеха и незабываемых настольных впечатлений. Мы с нетерпением ждем возможности обслужить вас и стать частью вашего игрового пути.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}