{% extends 'base.html' %}

{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="container w-50">
  <div class="card bg-dark text-white" style="border-radius: 1rem;">
    <div class="card-body text-center">
      <form method="post" class="form form-control bg-dark text-white border-0">
		{% csrf_token %}
	    <h2 class="text-center mb-4">Восстановление пароля</h2>
			{% for field in form %}
				<h5 class="mb-3">{{ field.label_tag }}</h5>
				{{ field }}
				{% if field.errors %}
					<small>{{ field.errors|striptags  }}</small>
				{% endif %}
			{% endfor %}
			<input type="submit" value="Отправить" class="btn btn-outline-light">
			<a href="{% url 'ttrpg_store_app:login' %}"  class="btn btn-outline-light">Отмена</a>
	</form>
    </div>
  </div>
</div>
{% endblock %}