{% extends 'base.html' %}

{% load static %}

{% block title %}Создание нового пароля{% endblock %}

{% block content %}
<div class="container w-50">
  <div class="card bg-dark text-white" style="border-radius: 1rem;">
    <div class="card-body text-center">
      <form method="post" class="form form-control bg-dark text-white border-0">
		{% csrf_token %}
	    <h2 class="text-center mb-4">Придумайте новый пароль:</h2>
			{% for field in form %}
				<h5 class="mt-3">{{ field.label_tag }}</h5>
				{{ field }}
				{% if field.errors %}
					<small>{{ field.errors|striptags  }}</small>
				{% endif %}
			{% endfor %}
		  <br>
		  <button type="submit" class="btn btn-outline-light mt-4">Сохранить</button>
		</form>
	</div>
  </div>
</div>
{% endblock %}