{% extends 'base.html' %}

{% load static %}

{% block title %}Проверьте почту{% endblock %}

{% block content %}
<div class="container w-50">
  <div class="card bg-dark text-white" style="border-radius: 1rem;">
    <div class="card-body">
		<h2 class="text-center mt-3">Письмо отправлено!</h2>
		<div class="row">
		  <p class="text-center mt-4">Пожалуйста, проверьте свою почту и выполните инструкции указанные в письме, для восстановления доступа к вашему аккаунту.</p>
		</div>
    </div>
  </div>
</div>
{% endblock %}